{% extends "base.html" %}

{% block upbar %}
{% include 'upbar_logged.html' %}
{% endblock upbar %}


{% block content %}
   <div>
	{# {% include 'inst_courses.html' %} #}

{% if courses.count > 0 %}

{% for course in courses %}
<div>
<h2><a href="/courses/get_one_course/{{ course.id }}/">{{ course.name }}</a></h2>
<p>{{ course.description }}</p>
<p>date: {{course.date}} </a></p>


</div>
{% endfor %}

{% else %}

<p>None to show!</p>

{% endif %}


<a href="/ticwiapp/desktop"> Desktop </a>
<a href="/ticwiapp/create_course"> Create Course </a>

  </div>


{% endblock %}
