{% extends "base.html" %}
{% load static %}
{% block upbar %}
{% include 'upbar_logged.html' %}
{% endblock upbar %}

{% block content %}

.....<a href="/ticwiapp/get_one_course/{{course_id}}"> Cancel </a>
{% if presenters.count > 0 %}

 <TABLE CLASS="MYTABLE">
    <CAPTION CLASS="MYTABLE">Users</CAPTION>
    
    <THEAD >
      <TR CLASS="MYTABLE">
        <TH CLASS="MYTABLE">Name</TH>
        <TH CLASS="MYTABLE"></TH>
      </TR>
    </THEAD>
    <TBODY>
{% for presenter in presenters %}
<TR CLASS="MYTABLE">
<TD CLASS="MYTABLE">{{ presenter.email }}</TD>
<TD CLASS="MYTABLE"><a href="/ticwiapp/add_presenter_now/{{ course_id }}/{{presenter.id}}/"> <img src=" {% static  "assets/images/add_new_icon.png" %} " width=15/></a></TD>

</TR>

{% endfor %}

 </TBODY>
</TABLE>

{% else %}


<pd>No users in database!</p>

{% endif %}

{% endblock %}

