{% extends "base.html" %}
{% load static %}
{% block upbar %}
{% include 'upbar_logged.html' %}
{% endblock upbar %}

{% block content %}

.....<a href="/ticwiapp/desktop/"> Desktop </a>

{% if courses.count > 0 %}

 <TABLE CLASS="MYTABLE">
    <CAPTION CLASS="MYTABLE">Future courses</CAPTION>

    <THEAD >
      <TR CLASS="MYTABLE">
        <TH CLASS="MYTABLE">Name</TH>
        <TH CLASS="MYTABLE">Description</TH>
        <TH CLASS="MYTABLE">Date</TH>
      </TR>
    </THEAD>
    <TBODY>
{% for course in courses %}
<TR CLASS="MYTABLE">
<TD CLASS="MYTABLE"><a href="/ticwiapp/get_one_course/{{ course.id }}/">{{ course.name }}</a></TD>
<TD CLASS="MYTABLE">{{ course.description }}</TD>
<TD CLASS="MYTABLE">{{ course.date }}</TD>
</TR>

{% endfor %}

 </TBODY>
</TABLE>

{% else %}

<pd><img src=" {% static  "assets/images/alert_icon.jpg" %} " width=30/>
No Courses registeded.!</p>

{% endif %}








{% if users.count > 0 %}

 <TABLE CLASS="MYTABLE">
    <CAPTION CLASS="MYTABLE">User</CAPTION>
    
    <THEAD >
      <TR CLASS="MYTABLE">
        <TH CLASS="MYTABLE">Name</TH>
        <TH CLASS="MYTABLE"></TH>
      </TR>
    </THEAD>
    <TBODY>
{% for user in users %}
<TR CLASS="MYTABLE">
<TD CLASS="MYTABLE">{{ user.email }}</TD>
<TD CLASS="MYTABLE"><a href="/ticwiapp/send_message/{{ user.id }}/{{sender.id}}/"> <img src=" {% static  "assets/images/add_new_icon.png" %} " width=15/></a></TD>
</TR>

{% endfor %}

 </TBODY>
</TABLE>

{% else %}


<pd>No users in database!</p>

{% endif %}

{% endblock %}

